on:
  push:
    branches:
      - main

name: release-please

permissions:
  contents: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
        id: release
        with:
          token: ${{ secrets.RELEASE_PLEASE_TOKEN }}
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        if: ${{ steps.release.outputs.release_created }}
        with:
          fetch-depth: 0
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        if: ${{ steps.release.outputs.release_created }}
      - name: Bump version in manifest and versions files, update tag
        if: ${{ steps.release.outputs.release_created }}
        run: |
          set -euxo pipefail
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git config user.name "github-actions[bot]"
          node version-bump.mjs ${{ steps.release.outputs.tag_name }}
          git add manifest.json versions.json
          git commit -m "chore: update versions for ${{ steps.release.outputs.tag_name }}"
          git push origin main
          git tag --delete ${{ steps.release.outputs.tag_name  }}
          git push --delete origin ${{ steps.release.outputs.tag_name  }}
          git tag ${{ steps.release.outputs.tag_name  }}
          git push --tags origin
      - name: Build and upload release assets
        if: ${{ steps.release.outputs.release_created }}
        run: |
          set -euxo pipefail
          pnpm install
          pnpm build
          releaseNotes=$(gh release view ${{ steps.release.outputs.tag_name }} --json body -q .body)
          newNotes=$'### Replace contents of `.obsidian/plugins/obsidian-wakatime` with the attached files or the zip file contents\n\n'"$releaseNotes"
          gh release edit ${{ steps.release.outputs.tag_name }} -n "$newNotes" --latest --draft=false
          gh release upload ${{ steps.release.outputs.tag_name }} ./dist/main.js
          gh release upload ${{ steps.release.outputs.tag_name }} ./styles.css
          gh release upload ${{ steps.release.outputs.tag_name }} ./manifest.json
          zip -j /tmp/release.zip ./dist/main.js ./styles.css ./manifest.json
          gh release upload ${{ steps.release.outputs.tag_name }} /tmp/release.zip
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
